* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.div-principal {
    background: url("./back.png");
    width: 1568.89px;
    height: 1090.86px;
    left: 158px;
    top: -10px;
    margin-left: 142px;
}



.logo {
    position: absolute;
    width: 54px;
    height: 66.19px;
    left: 10.71%;
    right: 86.17%;
    top: 3.52%;
    bottom: 90.55%;
}

.link-header {
    width: 77px;
    height: 29px;
    font-weight: 400px;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
    margin-top: 50px;
    margin-right: 83px;
    cursor: pointer;
}

.link-linkado {
    margin-left: 270px;
    padding-top: 63px;

}

.box-image {
    position: absolute;
    width: 138px;
    height: 55px;
    left: 1530px;
    top: 51px;
}

.images {
    margin-right: 20px;
    cursor: pointer;
}



section {
    display: inline-block;
    margin-left: 56px;
    margin-top: 300px;
}

h1 {
    width: 634px;
    height: 164px;
    font-weight: 700;
    font-size: 70px;
    line-height: 82px;
    color: #FFFFFF;
    margin-bottom: 34px;
    margin-right: 134px;
}

p {
    width: 377px;
    height: 47px;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    color: rgba(255, 255, 255, 0.65);
    margin-bottom: 119px;
    margin-right: 391px;

}

button {
    position: absolute;
    background-color: transparent;
    color: white;
    border-color: aliceblue;
    width: 335px;
    height: 91px;
    left: 198px;
    top: 735px;
    border-width: 5px;
    border-radius: 45px;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    cursor: pointer;

}

.relo {

    position: absolute;
    width: 542.04px;
    height: 669.53px;
    left: 966px;
    top: 224px;
}

.pontinho {
    position: absolute;
    width: 25px;
    height: 127px;
    left: 1642px;
    top: 495px;
    cursor: pointer;
}

.sombra {
    position: absolute;
    width: 348.83px;
    height: 74.34px;
    left: 1094.67px;
    top: 946.17px;
}